# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# CodeStream ignored files
/../../Shopping-semi\.idea/codestream.xml
/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
